[Unit]
Description=Webapp for beholder
After=network-online.target
Wants=network-online.target systemd-networkd-wait-online.service

StartLimitIntervalSec=500
StartLimitBurst=5

[Service]
Type=simple
RestartSec="12hr"
User=theycantalk
WorkingDirectory=/home/theycantalk/beholder/startup
ExecStart=/home/theycantalk/beholder/startup/update.sh

[Install]
WantedBy=multi-user.target
